#![enable(implicit_some, unwrap_newtypes)]
(
	res: "hd",
	fps: 30,
	inputs: [
        ( id: "dictionary", src: Img(r"dictionary/dictionary.png") ),
    ],
	shaders: {
		"tracker": "tracker",
	},
	midi_input: r"midi/20-10-19_02.23_fixed.mid",
	chains: [
		(
			id: "main",
			inputs: [
				( id: "dictionary" ),
			],
			layers: [
				( fx: "tracker" ),
			],
		),
	],
	output: ( id: "main" ),
)
