#![enable(implicit_some)]
(
	meta: (
		id: "tracker",
		name: "BoiTracker",
		description: "This is a tracker-like visualization of MIDI input provided to ShaderBoi. It is available under GPLv3; see LICENSE for details.",
		tags: [
			"tracker, shaderboi, 2d, sdf, multipass, text, midi, visualization",
		],
	),
	passes: {
		BufferA: (
			inputs: [
				(
					asset: Misc(BufferA),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Music(XTrackTure),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
			],
		),
		Image: (
			inputs: [
				(
					asset: Misc(BufferA),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Texture(Font1),
					sampler: Custom((
						filter: mipmap,
						wrap: repeat,
						vflip: true,
					)),
				),
				(
					asset: Texture(Font1),
					sampler: Custom((
						filter: nearest,
						wrap: repeat,
						vflip: true,
					)),
				),
			],
		),
	},
)
